<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iKNSA - ng course</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>

    <header class="row-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="">iKNSA Angular course</a>
            </div>

            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="">Accueil</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Recrutement</a></li>
                    <li><a href="">Demande de devis</a></li>
                    <li><a href="">Friends</a></li>
                    <li><a href="">New Friends</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Avec la directive ng-app nous informons angular que ceci est une application
    angular et que le nom de cette application est todoApp -->
    <div class="row-fluid" ng-app="todoApp">
        <main class="container-fluid">

          <div class="jumbotron col-xs-8 col-xs-offset-2">
            <h2>Todo</h2>

            <div class="container-fluid" ng-controller="TodoListController">
                <span>1 of 2 remaining</span> [<a href="#">archive</a>]

                <ul class="list-group">

                    <!-- Avec la directive ng-repeat, angular va dupliquer le marqage HTML
                    autant de fois qu'il y a de todo dans notre tableau todos défini dans
                    notre controller -->
                    <li class="list-group-item" ng-repeat="todo in todos">
                        <!-- Avec la directive ng-model, nous faisons du two way data-binding.
                        Quand a valeur du checkbox passe a true (étant donné que les checkbox
                        retourne un booléen), le ng-model passe a true et nous
                        récupérons cette valeur dans notre controller et vice versa -->
                        <input type="checkbox" ng-model="todo.done">
                        <!-- Ici nous affichons le text du todo mais avant nous prenons avantage
                        du two way data-binding en modifiant la classe à done-true ou done-false -->
                        <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    </li>
                </ul>

                <form>
                    <!-- Ici nous rajoutons la directive ng-model pour avoir le two way data-binding
                    sur le contenu du champ -->
                    <input type="text" placeholder="Add new todo here" ng-model="formNewTodo">

                    <!-- Ici on utilise la directive ng-click qui exécutera la méthode addTodo de notre contrôleur -->
                    <button class="btn btn-primary" ng-click="addTodo()" type="submit">Add</button>
                </form>
            </div>
          </div>
        </main>
    </div>

    <div class="clearfix"></div>
    <hr>
    <div class="row-fluid">
        <footer>
            <div class="jumbotron">
                <h2 class="text-center">My Great angular app</h2>
            </div>
        </footer>
    </div>
</body>
</html>